[Unit]
Description=

[Service]
Type=simple
User=root
Group=root
ExecStartPre=/usr/local/bin/rigctld_preflight.sh
ExecStopPost=/usr/local/bin/rigctld_postflight.sh
ExecStart=rigctld -m {{ hamlib_rigid }} -c {{ hamlib_civ }} -s {{ hamlib_baud }} -r {{ hamlib_device }}
